@font-face {
    font-family: GoT;
    src: url('../assets/fonts/Game of Thrones.ttf')
}

@keyframes hover-animation {
    0% {}
    100% {
        box-shadow: 0px 0px 86px 7px rgba(90, 103, 214);
        background-color: rgba(90, 103, 214, 0.75);
    }
}

@keyframes out-animation {
    0% {
        box-shadow: 0px 0px 86px 7px rgb(90, 103, 214);
        background-color: rgba(90, 103, 214, 0.75);
    }
    100% {}
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'GoT';
    margin: 0;
    background-image: url('../assets/site/mapblue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-content,
#right-menu {
    margin: 0;
}

#main-content {
    width: 75%;
    height: 100%;
    float: left;
}

#right-menu {
    color: whitesmoke;
    width: 25%;
    height: 100%;
    left: 75%;
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
}

.content-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-element {
    border-radius: 40px 40px 40px 40px;
    position: relative;
    display: inline-block;
    width: 130px;
    height: 130px;
    padding: 5px;
    animation-name: out-animation;
    animation-duration: 0.4s;
}

.content-element p {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 95px;
    margin: 0;
    font-size: 13px;
}

.content-element img {
    top: 5px;
    position: absolute;
    width: auto;
    height: 85px;
    left: 20%;
}

.content-element:hover {
    cursor: pointer;
    animation-name: hover-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}